#landing-first-cnt {
  height: 100vh;
}
.landing-header-cnt h3 h1 {
  display: inline-block !important;
}

.landing-header-cnt {
  position: relative;
  margin: 5% auto 5%;
  flex-wrap: wrap;
  background: #e9e9e91e;
  border-radius: 20px;
  padding: 5%;
  max-width: 600px;
}
.expand {
  animation-name: expand;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
@keyframes expand {
  0% {
    height: 0;
    width: 0;
  }
  50% {
    height: 75%;
    width: 75%;
  }
  100% {
    height: 100%;
    width: 100%;
  }
}

.landing-header-image-cnt {
  border-radius: 50%;
  margin: auto 0;
  max-width: 200px;
  margin-right: 5%;
}
.profile-image {
  background: #ee0979; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ff6a00,
    #ee0979
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ff6a00,
    #ee0979
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding: 5px;
  margin: 0;
  max-width: 150px;
  height: auto;
}
#info-cnt {
  max-width: 1000px;
  margin: 0 auto;
  background-color: #e9e9e91e;
  padding: 5%;
  box-shadow: #2121212a 0px 1px 3px;
}
.landing-text {
  margin-left: 15%;
  margin-right: 15%;
  text-align: left;
  font-size: 1em;
}
#background-text {
  margin-top: -5%;
  margin-left: 15%;
  max-width: 60%;
}

.arrow-down {
  position: absolute;
  left: 95%;
  bottom: 5px;
  float: right;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #212121;
}

.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  100% {
    bottom: 5vh;
  }
  25% {
    bottom: 6vh;
  }
  50% {
    bottom: 8vh;
  }
}

.flexRow {
  display: flex;
  flex-direction: row;
}
.flexColumn {
  display: flex;
  flex-direction: column;
}
.roundedImage {
  border-radius: 50%;
}
.lightBlue {
  color: #2196f3;
}
.lightRed {
  color: #f44336;
}
.lightOrange {
  color: #ff9800;
}

#graph-canvas {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: white;
  z-index: 4;
}
