:root {
  --main-color: #212121;
}

body{
  text-align: left;
}

.App {
  font-family: sans-serif;
}

.menu-cnt {
  text-align: left;
}
.menu-btn {
  float: left;
}
.menu-btn-child {
  width: 30px;
  height: 5px;
  background-color: var(--main-color);
  margin-bottom: 5px;
}
.slide-enter-left {
  animation-name: side;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
.menu-elements-cnt {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  height: 0;
  overflow: hidden;
  background-color: white;
}
.menu-links {
  display: inline-block;
  text-decoration: none;
  color: var(--main-color);
  font-weight: bolder;
  font-size: 1.2em;
  margin-bottom: 20px;
}

.up {
  animation-name: ani-up;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.down {
  animation-name: ani-down;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes ani-up {
  0% {
    height: 0;
  }
  50% {
    height: 185px;
  }
  100% {
    height: 100%;
  }
}
@keyframes ani-down {
  0% {
    height: auto;
  }
  50% {
    height: 185px;
  }
  100% {
    height: 0;
  }
}

.header-cnt {
  margin-top: 15%;
}
.header-name {
  text-align: left;
}
.header-sub {
  text-align: left;
}

.content-cnt {
  text-align: left;
  margin: 10% 10%;
}
.content-text {
  text-align: left;
  font-weight: bold;
  line-height: 190%;
  margin-bottom: 5%;
}

.image {
  display: flex;
  flex-direction: column;
  margin-bottom: 10%;
}
.image-subtitle {
  font-size: 0.8em;
  font-weight: bold;
  color:lightgray;
}

.grayedBackround {
  padding: 5px 10px;
  border-radius: 1%;
  background-color: hsla(0, 0%, 93%, 0.575);
}

.code-cnt {
  margin: 0 auto;
  max-width: 800px;
  background-color: hsl(222, 11%, 18%);
}
.code {
  padding: 3%;
}

.center{
  margin: 0 auto;
}
.space-left{
  margin-left: 10%;
}

.bounceImage {
  animation: bounceImage 3s infinite ease-in-out;
}

@keyframes bounceImage {
  0%,100% {
    padding-top: 0;
  }
  30%{
    padding-top: 30px;
  }
  70%{
    padding-top: 30px;
  }
}
